@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

body {
    color: rgb(73, 66, 66);
}

.container {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.png);
    /* background: linear-gradient(45deg, #bdfffa, #f2feff); */
    /* background-position: center; */
    /* background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.paper {
    max-width: 80vw;
    height: 80vh;
    width: 100%;
    text-align: center;
    padding: 50px 35px;
    background-image: url("../assets/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 200;
    margin: 0.4rem;
    font-size: 3.5rem;
}

.message {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.erasing-animation {
    animation-name: erasing;
    animation-duration: 1.5s;
}

@keyframes erasing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.writing-animation {
    animation-name: writingText;
    animation-duration: 5s;
}

@keyframes writingText {
    0% {
        transform: translate(0px, 0px);
    }

    2% {
        transform: translate(30px, -40px);
    }

    4% {
        transform: translate(0px, 0px);
    }

    6% {
        transform: translate(30px, -40px);
    }

    8% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(30px, -40px);
    }

    12% {
        transform: translate(0px, 0px);
    }

    14% {
        transform: translate(30px, -40px);
    }

    16% {
        transform: translate(0px, 0px);
    }

    18% {
        transform: translate(30px, -40px);
    }

    20% {
        transform: translate(0px, 0px);
    }

    22% {
        transform: translate(30px, -40px);
    }

    24% {
        transform: translate(0px, 0px);
    }

    26% {
        transform: translate(30px, -40px);
    }

    28% {
        transform: translate(0px, 0px);
    }

    30% {
        transform: translate(30px, -40px);
    }

    32% {
        transform: translate(0px, 0px);
    }

    34% {
        transform: translate(30px, -40px);
    }

    36% {
        transform: translate(0px, 0px);
    }

    38% {
        transform: translate(30px, -40px);
    }

    40% {
        transform: translate(0px, 0px);
    }

    42% {
        transform: translate(30px, -40px);
    }

    44% {
        transform: translate(0px, 0px);
    }

    46% {
        transform: translate(30px, -40px);
    }

    48% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(30px, -40px);
    }

    52% {
        transform: translate(0px, 0px);
    }

    54% {
        transform: translate(30px, -40px);
    }

    56% {
        transform: translate(0px, 0px);
    }

    58% {
        transform: translate(30px, -40px);
    }

    60% {
        transform: translate(0px, 0px);
    }

    62% {
        transform: translate(30px, -40px);
    }

    64% {
        transform: translate(0px, 0px);
    }

    66% {
        transform: translate(30px, -40px);
    }

    68% {
        transform: translate(0px, 0px);
    }

    70% {
        transform: translate(30px, -40px);
    }

    72% {
        transform: translate(0px, 0px);
    }

    74% {
        transform: translate(30px, -40px);
    }

    76% {
        transform: translate(0px, 0px);
    }

    78% {
        transform: translate(30px, -40px);
    }

    80% {
        transform: translate(0px, 0px);
    }

    82% {
        transform: translate(30px, -40px);
    }

    84% {
        transform: translate(0px, 0px);
    }

    86% {
        transform: translate(30px, -40px);
    }

    88% {
        transform: translate(0px, 0px);
    }

    90% {
        transform: translate(30px, -40px);
    }

    92% {
        transform: translate(0px, 0px);
    }

    94% {
        transform: translate(30px, -40px);
    }

    96% {
        transform: translate(0px, 0px);
    }

    98% {
        transform: translate(30px, -40px);
    }

    100% {
        transform: translate(0px, 0px);
    }


}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }

    .uil {
        font-size: 5rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5 rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#flipbook {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16/9;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.flip-image{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    border-radius: 20px;
}

.flip-image.active {
    opacity: 1;
}

.txt{
    font-size: 3rem;
}