* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movePen{
    position: absolute;
    width: 20%;
    height: 30%;
    bottom: 10.8rem;
    left: 8rem;
}

.book{
    width: 25rem;
    height: 29rem;
    background: #fcfcfc;
    font-family: cursive;
    border-bottom: 25px solid blue;
    font-size: x-large;
    padding: 1.5rem;
    line-height: 3rem;
}

img{
    width: 480px;
}